
body {
  margin-top: 75px;
  margin-bottom: 75px;
  margin-right: 105px;
  margin-left: 170px;
}
 body {
  background-color: #FDD7E4;
}
 p {
	font-size: 18pt;
	font-family: sans-serif;
	color: black; 
}

input {
  background-color: #FEFCFF;
  border-color: dodgerblue;
  color:black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 4px;
  cursor: pointer;
}

p.four {
	font-family: serif;
	 background-image: linear-gradient(to bottom right, #FEFCFF, hotpink);
	padding: 15px 10px;
	color:dodgerblue;
	border-color:black;
  border-style: dotted;
  border-width: thick;

}

links {
  color:magenta;
  text-decoration: underline;
}

.barra {
  background-color: plum;
  text-decoration: none;
  color: black;
  height:0,5cm; 
  width: 4cm;
  display: inline-block;
  text-align: center;


}

ul {
   list-style-type: none;
}


.tabla_derecha {
  background-color: #f1f1f1;
    color: #000;
  padding-right: :15px;
    text-decoration: none;
    background-color: plum;
    
}

.barra:hover:not(.active) {
  background-color: #555;
}
