/* clases */
body {
	text-align: center;
	margin-top: 2.2cm;
  	margin-left: 2cm;
  	font-family: 'Bentham';font-size: 22px;
}

h1 {
	color:magenta;
	font-size: 24pt;
	font-family: serif;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1.4;
	word-spacing: -6px;
	text-shadow: 2px 1px black;
}

p {
	color: black;
	border:dotted;
	background-image: linear-gradient(to right, plum , rebeccapurple);
	text-align: center;
}

.links {
	color:magenta;
	text-decoration: underline;
}

.barra {
	background-color: plum;
	text-decoration: none;
	color: black;
	height:0,5cm; 
	width: 4cm;
	display: inline-block;
	text-align: center;


}

ul {
	 list-style-type: none;
}


.tabla_derecha {
	background-color: #f1f1f1;
  	color: #000;
 	padding-right: :15px;
  	text-decoration: none;
  	background-color: plum;
  	
}

.barra:hover:not(.active) {
  background-color: #555;
}

.fotos {
	width: 200px;
	height: auto;

}
